In [1]:
#Split this string
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

In [2]:
#Use .format() to print the following string.
planet = "Earth"
diameter = 12742
print("The diameter of Earth is {} kilometers".format(diameter))

The diameter of Earth is 12742 kilometers

In [3]:
#In this nest dictionary grab the word "hello"
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [4]:
#Numpy
import numpy as np

In [5]:
#Create an array of 10 zeros?
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [6]:
# Create an array of 10 fives?
np.ones(10)*5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [7]:
#Create an array of all the even integers from 20 to 35
np.arange(20,35,2)

array([20, 22, 24, 26, 28, 30, 32, 34])

In [8]:
#Create a 3x3 matrix with values ranging from 0 to 8
np.arange(0,9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [9]:
#Concatinate a and b
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
np.concatenate((a,b))

array([1, 2, 3, 4, 5, 6])

In [10]:
#Pandas
import pandas as pd

In [11]:
#Create a dataframe with 3 rows and 2 columns
dic={'column1':[1,2,3],'column2':['a','b','c']}
df = pd.DataFrame(dic)
df

   column1 column2
0        1       a
1        2       b
2        3       c

In [12]:
#Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023
pd.date_range(start='1/1/2023',end='2/10/2023')

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

In [13]:
#Create 2D list to DataFrame
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
pd.DataFrame(lists,columns=['column1','column2','column3'])

   column1 column2  column3
0        1     aaa       22
1        2     bbb       25
2        3     ccc       24